.table{
    width: 45%;
    margin-left: 100px;
    margin-top: 20px;    
    text-shadow: 30px;
    box-shadow: 2px 4px 4px #0000009F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    th{
        
        font-size: 40px;
        background-color: firebrick;
        align-items: center;
    }

    td{
        padding-left: 35px;
    }

}